* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 2rem;
  color: black;
  font-family: "Lobster", cursive;
}
.navbar-brand:hover {
  color: black;
}
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}
.nav-link:hover {
  color: black;
}

.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  margin-right: -35px;
  font-family: "Rubik", sans-serif;
  border: 2px solid rgb(8, 49, 104);
}
.btn0 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: rgb(8, 49, 104);
  color: white;
  border-radius: 60px;
  font-weight: 700;
}
.btn0:hover {
  background-color: black;
}
.main {
  background: url(img/bg5.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
}
.card:hover {
  box-shadow: -2px -3px 23px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px -3px 23px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -3px 23px -6px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.main h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Mohave", sans-serif;
  color: black;
  margin-top: 25%;
  margin-left: -90px;
  line-height: 50%;
}
.btn1 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: rgb(8, 49, 104);
  color: white;
  font-weight: 700;
  border-radius: 60px;
}
.btn1:hover {
  background-color: black;
}
.btn2 {
  height: 30px;
  width: 30%;
  border: none;
  outline: none;
  background-color: rgb(8, 49, 104);
  color: white;
  font-weight: 200;
  border-radius: 60px;
  margin-bottom: 50px;
}
.btn2:hover {
  background-color: black;
}
.shop {
  background: url(img/bgshop3.jpg) no-repeat;
  background-size: cover;
}
#contact {
  background: url(img2/p12.jpg) no-repeat;
  background-size: cover;
}
.form-control {
  border: none;
  opacity: 0.5;
}
